# PyTorch CPU (plus léger) : pip install torch --index-url https://download.pytorch.org/whl/cpu
torch
transformers
sentence-transformers
datasets
numpy
pandas
matplotlib
scikit-learn
joblib
psutil
jinja2
ipykernel
openai
